$fontFamily: serif;
$inputFontFamily: sans-serif;
$activeColor: #FC5830;
$contentBackground: #EFEFEF;
$hrColor: #CFD8DC;
$postListBackground: #fff;
$postListTitle : #617D8A;
$postListPicInfo: #BDBDBD;
$contentColor: #757575;
$formTextColor: #757575;
$footerTextColor: #757575;
